{% extends 'base.html' %}
{% block title %}Bet Details{% endblock %}
{% block content %}
<div class = "card">
    <div class = "card-body">
        <h2 class = "card-title">{{bet.user}}'s bet</h2>
        <h6 class = "card-subtitle mb-2 text-muted">Posted on {{bet.created_at}}</h6>
        <p class = "card-text">{{bet.description}}</p>
        {% for photo in bet.photo_set.all %} 
            <img src = "{{ photo.url }}" height = "450">
        {% empty %}
            <p>No photo uploaded</p>
        {% endfor %}
    </div>
</div>
<div>
    <h2>Comments...</h2>
    {% if not bet.comments.all %}
        No Comments Yet...<a href = "{% url 'comment_create' bet.pk %}">
            Add One
        </a>
    {% else %} 
    <a href = "{% url 'comment_create' bet.pk %}">Add Comment</a>
    <br>
    <br>
        {% for comment in bet.comments.all %}
        <div class = "card">
            <div class = "card-body">
                <h5 class = "card-title">{{comment.user}}'s comment</h5>
                <p class = "card-subtitle mb-2 text-muted">{{comment.created_at}}</p>
                <p class = "card-text">{{comment.content}}</p>
                {% if user.is_authenticated %}
                    {% if user.id == comment.user.id %}
                        <a href = "{% url 'comment_delete' comment.pk %}">Delete Comment</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}