{% extends 'base.html' %} 
{% block content %} 
<h1>Slipstream home</h1>
<h3>About:</h3>
<p>This app will allow users to log in and post betslips for the bets they made on any given day.</p>
<p>Other users will be able to comment on posts to share what they think of their bets.</p>
<h3>Directions:</h3>
<p>- Log in or signup to be able to use any of the features of the</p>
<p>- Click on create post to be able to write a description of your bet.</p>
<p>- You will be redirected to the upload photo page where you can post a screenshot of your bet</p>
<h3>Planned future enhancements:</h3>
<p>- An API that displays key sports betting data (live lines, player props, game scores, etc)</p>
<p>- A follower and following model for users to only see bets from people they follow</p>
<p>- A profile page as well as a way to search for other users</p>
{% endblock %}
